<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="VSTSFeed" value="https://pkgs.dev.azure.com/Streets-Heaver/_packaging/SHCS-ADS/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <VSTSFeed>
      <add key="Username" value="%SHCS_Username%" />
      <add key="ClearTextPassword" value="%SHCS_Pass%" />
    </VSTSFeed>
  </packageSourceCredentials>
</configuration>